#buttsort{
    display: none;
    margin-top: 20;
    margin-bottom: 20;
}
input {
     	margin: 10px;
     }
 h3{
     margin-top: 20px;
      margin-bottom: 20px;
    }
    #buttsub{
        margin-top: 20;
        margin-bottom: 20;
    }